// Import Bootstrap
// Modalità 1
// @import 'bootstrap';
// Modalità 2
@import '~bootstrap/scss/bootstrap';

@import '~@fontsource/montserrat/index.css';
@import '~@fontsource/montserrat/700.css';


// Importo file con le variabili
@import './vars';

body {
    font-family: $main-font;

    background-image: linear-gradient(
        to left,
        transparent 0px,
        transparent 20px,
        rgba(#000, 0.02) 20px,
        rgba(#000, 0.02) 40px
    ),
    linear-gradient(
        to bottom,
        transparent 0px,
        transparent 20px,
        rgba(#000, 0.02) 20px,
        rgba(#000, 0.02) 40px
    );
    background-size: 40px, 100% 40px;
}